[submodule "emacs-for-python"]
      path = modules/emacs-for-python
      url = git://github.com/gabrielelanaro/emacs-for-python.git

[submodule "pycoverage.el"]
      path = modules/pycoverage.el
      url = git://github.com/mattharrison/pycoverage.el.git

[submodule "modules/nxhtml"]
    path = modules/nxhtml
    url = https://github.com/emacsmirror/nxhtml.git

[submodule "modules/python-django.el"]
    path = modules/python-django.el
    url = git@github.com:fgallina/python-django.el.git
